.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	opacity: 0;
}

@media (prefers-reduced-motion) {
	* {
		animation-duration: 0.01ms;
		animation-delay: 0.01ms;
	}
}

// Focus-visible Polyfill
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

// Skip-Links
.skip-link {
	background-color: var(--color-primary, #0243d6);
	border-radius: 2.25rem;
	bottom: 4rem;
	display: flex;
	font-size: 0.75rem;
	font-weight: 700;
	height: 2.25rem;
	justify-content: center;
	left: 0;
	letter-spacing: 1px;
	line-height: 2.25rem;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	outline-color: var(--color-gray1, #ecedf0);
	padding: 0 0.5rem;
	position: fixed;
	right: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 64ms var(--default-timing-function);
	width: calc(100% - 11.25rem);
	z-index: 3;

	@include breakpoint(medium) {
		width: rem-calc(200);
	}

	@include breakpoint(large) {
		position: absolute;
		top: 0.5rem;
		left: 4rem;
		right: auto;
	}
}
.skip-link:not(:focus) {
	border: 0;
	bottom: 0;
	clip-path: inset(50%);
	clip: rect(0 0 0 0);
	height: 1px;
	left: -624.9375rem;
	margin: -1px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	width: 1px;
}
.skip-link,
.skip-link:focus,
.skip-link:hover {
	color: var(--color-white, #fff);
}
