// Grayscale
$color-white: #ffffff;
$color-gray0: #f9f9fa;
$color-gray1: #ecedf0;
$color-gray2: #dfe1e4;
$color-gray3: #d1d3d8;
$color-gray4: #c1c4cb;
$color-gray5: #afb3bc;
$color-gray6: #9ba0ac;
$color-gray7: #838998;
$color-gray8: #646c7e;
$color-gray9: #3a3f4b;
$color-gray10: darken($color-gray9, 12%);
$color-black: darken($color-gray10, 32%);
$color-primary: #0243d6;
$blend-color: #0234a1;
$color-secondary: $color-gray9;
$color-success: #1be87b;
$color-warning: #f2b681;
$color-alert: #e87b1b;
$color-alternate: #0037ea;
$body-background: $color-white;
$body-font-color: $color-black;
