/// Returns an elevation box-shadow with an optional color
///
/// Levels:
/// 0 - For all ements that are "stuck" to the background or do not need an elevation
/// 1 - For all ements that are needs a bit of elevation, but are closer to the background.
/// 2 - The most common elevation level. For elements that need to standout above the others in the same container.
/// 3 - For elements, like modals and notifications, that need to be rendered above all others in a page.
/// 4 - To be used only in situations where the element needs to be above modals and notifications
///
/// @example scss - @include elevation(2);
/// @param {number} $level [1] - The level of elevation. Goes from 0 to 4.
/// @param {<color>} $shadow-color [$color-black] - The level of elevation. Goes from 0 to 4.
@mixin elevation($level: 1, $shadow-color: $color-gray7) {
	@if $level == 0 {
		box-shadow: none;
	}

	@if $level == 1 {
		box-shadow: 0 -1px 4px rgba($shadow-color, 0.12), 0 1px 2px rgba($shadow-color, 0.16);
	} @else if $level == 2 {
		box-shadow: 0 2px 6px rgba($shadow-color, 0.12), 0 2px 6px rgba($shadow-color, 0.24);
	} @else if $level == 3 {
		box-shadow: 0 12px 24px rgba($shadow-color, 0.08), 0 8px 8px rgba($shadow-color, 0.16);
	} @else if $level == 4 {
		box-shadow: 0 16px 32px rgba($shadow-color, 0.36), 0 16px 12px rgba($shadow-color, 0.24);
	}
}

$elevation-0: none;
$elevation-1: 0 -1px 4px rgba($color-gray7, 0.12), 0 1px 2px rgba($color-gray7, 0.16);
$elevation-2: 0 2px 6px rgba($color-gray7, 0.12), 0 2px 6px rgba($color-gray7, 0.24);
$elevation-3: 0 12px 24px rgba($color-gray7, 0.08), 0 8px 8px rgba($color-gray7, 0.16);
$elevation-4: 0 16px 32px rgba($color-gray7, 0.36), 0 16px 12px rgba($color-gray7, 0.24);
