@include css-vars(
	(
		--color-primary: $color-primary,
		--color-select: $color-primary,
		--color-white: $color-white,
		--color-gray0: $color-gray0,
		--color-gray1: $color-gray1,
		--color-gray3: $color-gray3,
		--color-gray2: $color-gray2,
		--color-gray4: $color-gray4,
		--color-gray5: $color-gray5,
		--color-gray6: $color-gray6,
		--color-gray7: $color-gray7,
		--color-gray8: $color-gray8,
		--color-gray9: $color-gray9,
		--color-gray10: $color-gray10,
		--color-black: $color-black,
		--color-alternate: $color-alternate,
		--color-blend: $blend-color,
		--anchor-text-decoration: $anchor-text-decoration,
		--anchor-text-decoration-hover: $anchor-text-decoration-hover,
		--body-background: $body-background,
		--body-font-color: $body-font-color,
		--body-font-family: $body-font-family,
		--body-antialiased: $body-antialiased,
		--global-margin: $global-margin,
		--global-padding: $global-padding,
		--global-font-size: $global-font-size,
		--global-width: $global-width,
		--global-lineheight: $ratio,
		--global-weight-normal: $global-weight-normal,
		--global-weight-bold: $global-weight-bold,
		--global-radius: $global-radius,
		--default-timing-function: $default-timing-function,
		--ease-in-sine: $ease-in-sine,
		--ease-out-sine: $ease-out-sine,
		--ease-in-out-sine: $ease-in-out-sine,
		--ease-in-cubic: $ease-in-cubic,
		--ease-out-cubic: $ease-out-cubic,
		--ease-in-out-cubic: $ease-in-out-cubic,
		--ease-in-quint: $ease-in-quint,
		--ease-out-quint: $ease-out-quint,
		--ease-in-out-quint: $ease-in-out-quint,
		--ease-in-circ: $ease-in-circ,
		--ease-out-circ: $ease-out-circ,
		--ease-in-out-circ: $ease-in-out-circ,
		--ease-in-quad: $ease-in-quad,
		--ease-out-quad: $ease-out-quad,
		--ease-in-out-quad: $ease-in-out-quad,
		--ease-in-quart: $ease-in-quart,
		--ease-out-quart: $ease-out-quart,
		--ease-in-out-quart: $ease-in-out-quart,
		--ease-in-expo: $ease-in-expo,
		--ease-in-out-expo: $ease-out-expo,
		--ease-in-back: $ease-in-back,
		--ease-out-back: $ease-out-back,
		--ease-in-out-back: $ease-in-out-back,
		--navbar-height: $navbar-height,
		--scrolled-navbar: $scrolled-navbar,
		--back-navigation-fill: $color-gray8,
		--call-to-action-wrapper-background: $color-white,
		--call-to-action-wrapper-background-hover: $color-gray2,
		--call-to-action-wrapper-gradient: $color-gray2,
		--call-to-action-wrapper-shadow: $color-gray6,
		--call-to-action-wrapper-border: $color-gray2,
		--call-to-action-title: $color-black,
		--call-to-action-subtitle: $color-gray8,
		--call-to-action-link: $color-gray8,
		--top-navigation-width: $top-navigation-width,
		--elevation-0: $elevation-0,
		--elevation-1: $elevation-1,
		--elevation-2: $elevation-2,
		--elevation-3: $elevation-3,
		--elevation-4: $elevation-4,
		--viewport-height-unit: $viewport-unit,
		--viewport-height: calc(var(--viewport-height-unit, 1vh) * 100),
	)
);

html {
	box-sizing: border-box; // 1
	font-family: var(--body-font-family);
	font-size: 16px;
	font-display: swap;
	scroll-behavior: smooth;
	// 2
	line-height: var(--global-lineheight, $ratio);
	height: 100%;

	// 3
	-webkit-text-size-adjust: 100%; // 4
	-ms-text-size-adjust: 100%; // 4
	-ms-overflow-style: scrollbar; // 5
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}

*,
*::before,
*::after {
	box-sizing: inherit; // 1
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
	@-ms-viewport {
		width: device-width;
	}
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.

body {
	margin: 0; // 1
	font-family: var(--body-font-family, $body-font-family);
	font-size: var(--global-font-size, $global-font-size);
	font-weight: var(--global-weight-normal), $global-weight-normal;
	line-height: var(--global-lineheight, $global-lineheight);
	color: var(--color-black, $color-black);
	background-color: var(--body-background, $body-background); // 2
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
	outline: none !important;
}

// Content grouping
//
// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.

hr {
	box-sizing: content-box; // 1
	height: 0; // 1
	overflow: visible; // 2
}

//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: $global-margin * 0.5;
}

h2 {
	font-size: rem-calc(40);

	@include breakpoint(large) {
		font-size: rem-calc(44);
	}

	@include breakpoint(xlarge) {
		font-size: rem-calc(48);
	}
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
	margin-top: 0;
	margin-bottom: var(--global-margin, $global-margin);
}

// Abbreviations
//
// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Duplicate behavior to the data-* attribute for our tooltip plugin

abbr[title],
abbr[data-original-title] {
	// 4
	text-decoration: underline; // 2
	text-decoration: underline dotted; // 2
	cursor: help; // 3
	border-bottom: 0; // 1
}

address {
	margin-bottom: var(--global-margin, $global-margin);
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: var(--global-margin, $global-margin);
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: var(--global-weight-normal, $global-weight-normal);
}

dd {
	margin-bottom: $global-margin * 0.5;
	margin-left: 0; // Undo browser default
}

blockquote {
	margin: 0 0 var(--global-margin, $global-margin);
}

dfn {
	font-style: italic; // Add the correct font style in Android 4.3-
}

b,
strong {
	font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
	font-size: 80%; // Add the correct font size in all browsers
}

//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
//

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

//
// Links
//

a {
	color: $anchor-color;
	text-decoration: $anchor-text-decoration;
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

	&:hover {
		color: $anchor-color-hover;
		text-decoration: $anchor-text-decoration-hover;
	}
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
button {
	&:focus {
		outline-color: var(--color-gray6, $color-gray6);
		outline-width: 1px;
		outline-style: dashed;
	}
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		outline-color: var(--color-primary);
		outline-width: 2px;
		outline-style: dashed;
	}
}

//
// Code
//

pre,
code,
kbd,
samp {
	font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

pre {
	// Remove browser default top margin
	margin-top: 0;
	// Reset browser default of `1em` to use `rem`s
	margin-bottom: 1rem;
	// Don't allow content to break outside
	overflow: auto;
}

//
// Figures
//

figure {
	// Apply a consistent margin strategy (matches our type styles).
	margin: 0;
}

//
// Images and content
//

img {
	vertical-align: middle;
	border-style: none; // Remove the border on images inside links in IE 10-.
}

svg:not(:root) {
	overflow: hidden; // Hide the overflow in IE
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
//
// In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
// DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
// However, they DO support removing the click delay via `touch-action: manipulation`.
// See:
// * https://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// * http://caniuse.com/#feat=css-touch-action
// * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

//
// Tables
//

table {
	border-collapse: collapse; // Prevent double borders
}

caption {
	padding-top: $table-padding;
	padding-bottom: $table-padding;
	color: var(--color-gray8, $color-gray8);
	text-align: left;
	caption-side: bottom;
}

th {
	// Matches default `<td>` alignment
	text-align: left;
}

//
// Forms
//

label {
	// Allow labels to use `margin` for spacing.
	display: inline-block;
	margin-bottom: 0.5rem;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
button:focus {
	outline-color: var(--color-primary);
	outline-width: 1px;
	outline-style: dashed;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0; // Remove the margin in Firefox and Safari
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible; // Show the overflow in Edge
}

button,
select {
	text-transform: none; // Remove the inheritance of text transform in Firefox
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
html [type='button'],
// 1 [type='reset'],
[type='submit'] {
	-webkit-appearance: button; // 2
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
	padding: 0; // 2. Remove the padding in IE 10-
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	// Remove the default appearance of temporal inputs to avoid a Mobile Safari
	// bug where setting a custom line-height prevents text from being vertically
	// centered within the input.
	// See https://bugs.webkit.org/show_bug.cgi?id=139848
	// and https://github.com/twbs/bootstrap/issues/11266
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto; // Remove the default vertical scrollbar in IE.
	// Textareas should really only resize vertically so they don't break their (horizontal) containers.
	resize: vertical;
}

fieldset {
	// Browsers set a default `min-width: min-content;` on fieldsets,
	// unlike e.g. `<div>`s, which have `min-width: 0;` by default.
	// So we reset that to ensure fieldsets behave more like a standard block element.
	// See https://github.com/twbs/bootstrap/issues/12359
	// and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
	min-width: 0;
	// Reset the default outline behavior of fieldsets so they don't affect page layout.
	padding: 0;
	margin: 0;
	border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
	display: block;
	width: 100%;
	max-width: 100%; // 1
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit; // 2
	white-space: normal; // 1
}

progress {
	vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	// This overrides the extra rounded corners on search inputs in iOS so that our
	// `.form-control` class can properly style them. Note that this cannot simply
	// be added to `.form-control` as it's not specific enough. For details, see
	// https://github.com/twbs/bootstrap/issues/11586.
	outline-offset: -2px; // 2. Correct the outline style in Safari.
	-webkit-appearance: none;
}

//
// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

//
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
//

::-webkit-file-upload-button {
	font: inherit; // 2
	-webkit-appearance: button; // 1
}

//
// Correct element displays
//

output {
	display: inline-block;
}

summary {
	display: list-item; // Add the correct display in all browsers
}

template {
	display: none; // Add the correct display in IE
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
	display: none !important;
}

#___gatsby {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);
}

::-moz-selection,
::selection {
	color: var(--color-white, $color-white);
	background: var(--color-primary);
}

#main-content {
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
}

main {
	flex: 1;
}

.preloader {
	width: 100vw;
	height: var(--viewport-height, 100vh);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white, $color-white);
	position: fixed;
	z-index: 101;

	&.is-loaded {
		display: none;
		opacity: 0;
	}
}

.no-javascript {
	align-items: center;
	background-color: var(--color-primary, $color-primary);
	background-repeat: repeat;
	background-size: 40px 40px;
	bottom: 0;
	color: var(--color-white, $color-white);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
}
