/**
* Sans: Bold
*/
@font-face {
	font-family: "ivdm-sans";
	src: url("/fonts/ivdm-sans-bold.woff2") format("woff2"), url("/fonts/ivdm-sans-bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

/**
* Sans: Italic
*/
@font-face {
	font-family: "ivdm-sans";
	src: url("/fonts/ivdm-sans-italic.woff2") format("woff2"), url("/fonts/ivdm-sans-italic.woff") format("woff");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

/**
* Sans: Regular
*/
@font-face {
	font-family: "ivdm-sans";
	src: url("/fonts/ivdm-sans-regular.woff2") format("woff2"), url("/fonts/ivdm-sans-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/**
* Serif: Italic
*/
@font-face {
	font-family: "ivdm-serif";
	src: url("/fonts/ivdm-serif-italic.woff2") format("woff2"), url("/fonts/ivdm-serif-italic.woff") format("woff");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

/**
* Serif: Regular
*/
@font-face {
	font-family: "ivdm-serif";
	src: url("/fonts/ivdm-serif-regular.woff2") format("woff2"), url("/fonts/ivdm-serif-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}