@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 300;
	src: local("Rubik Light"), local("Rubik-Light"),
		url("../public/fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: local("Rubik Regular"), local("Rubik-Regular"),
		url("../public/fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 900;
	src: local("Rubik Black"), local("Rubik-Black"),
		url("../public/fonts/Rubik/static/Rubik-Black.ttf") format("truetype");
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

:root {
	--default: #212121;
	--light: #ffffff;
	--yellow: #f5e7ad;
	--lightBrown: #946037;
	--darkBrown: #4d352d;
	--fontLight: 300;
	--fontRegular: 400;
	--fontBlack: 900;
	--lineHeight: 150%;
}

html {
	font-size: 18px;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Rubik", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: var(--fontLight, 300);
	font-display: swap;
	color: var(--default, #212121);
}

h1, h2, h3, h4, p {
	margin: 0;
}

h2 {
	font-size: 4rem;
	font-weight: var(--fontBlack);
	text-transform: uppercase;
	color: var(--lightBrown);
}

h3 {
	font-size: 3rem;
	font-weight: var(--fontBlack);
}

h4 {
	font-size: 1rem;
	font-weight: var(--fontBlack);
}

p:not(:last-child) {
	margin-bottom: 10px;
}
